@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');

body {
    font-family: 'Inter';
    max-width: 450px;
    justify-content: center;
    background-color: #484FB7
}

.services {
    background-color: white;
    border-radius: 12px;
    padding: 16px;
    margin-bottom: 16px;
}

.why-choose-us {
    background-color: #D9526F;
}

.why-choose-us-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}

.why-choose-us-box {
    padding: 14px;
    border-radius: 10px;
    text-align: center;
}

section {
    padding: 20px;
}

h1, h2 {
    font-family: 'Kavoon';
}

h1 {
    font-size: 3em;
}

nav h2 {
    font-size: 1.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em
}

h4 {
    font-size: 1.15em
}