/*CSS BY REBEKAH ADAIR */

/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');

/*CSS RESET*/

/* ROOT VARIABLES */
:root {
    --font-heading: "Kavoon";
    --font-body: "Inter";
    --teal: #4ca7c0;
    --purple: #484FB7;
    --lavender: #6B8FE7;
    --yellow: #E9BB57;
    --pink: #D9526F;
    --dark-gray: #1E1E1E;
    --white: #ffffff;
    --max-width: 450px;
}

/* GLOBAL STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-body);
    background-color: var(--lavender);
    color: var(--dark-gray);
}

header, nav, main {
    width: 100%;
}

.site-header, nav, main {
    max-width: var(--max-width);
    margin: 0 auto;
}

h1, h2{
    font-family: var(--font-heading);
}

h1 {
    font-size: 3em;
}

nav h2 {
    font-size: 1.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.15 em;
}

/* MAIN */

.site-header {
    background-color: var(--purple);
    color: var(--white);
    text-align: center;
    padding: 30px 20px 20px;
}

.site-tagline {
    margin-top: 6px;
}

nav {
    background-color: var(--yellow);
    padding: 15px;
    text-align: center;
}

.nav-list {
    list-style: none;
    margin-top: 10px;
}

.nav-list li {
    margin: 8px 0;
}

.nav-list a {
    display: block;
    background-color: var(--white);
    padding: 8px;
    border-radius: 4px;
    text-decoration: none;
    color: var(--purple);
}

main {
    background-color: var(--purple);
    padding: 20px 0;
}

section {
    padding: 15px;
}

section h2 {
    color: var(--white);
    margin-bottom: 10px;
}

section h3 {
    color: var(--yellow);
    margin: 15px 0 10px;
}

section img {
    width: 48px;
    display: block;
    margin: 10px auto;
}

section img + h4 {
    background-color: var(--white);
    border-radius: 8px 8px 0 0;
    text-align: center;
    padding-top: 12px;
}

section h4 + p {
    background-color: var(--white);
    padding: 10px 15px 15px;
    margin-bottom: 15px;
    border-radius: 0 0 8px 8px;
    line-height: 1.4;
}

#why-choose-us {
    background-color: var(--pink);
}

.us-list {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 10px;
}

.us-list li {
    background-color: var(--teal);
    padding: 10px;
    text-align: center;
    border-radius: 6px;
}

.us-list li:nth-child(2) {
    background-color: var(--lavender);
}

.us-list li:nth-child(3) {
    background-color: var(--yellow);
}

.us-list li:nth-child(4) {
    background-color: var(--white);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;
}

tr:first-child {
    background-color: var(--yellow);
}

tr:not(:first-child) {
    background-color: var(--white);
}

td {
    border: 1px solid var(--purple);
    padding: 6px;
    text-align: center;
    color: var(--dark-gray);
}

#take-the-first-step {
    background-color: var(--pink);
    text-align: center;
    color: var(--white);
}

#take-the-first-step p {
    margin: 10px 0;
}

#take-the-first-step a {
    display: inline-block;
    background-color: var(--white);
    color: var(--dark-gray);
    padding: 10px 18px;
    border-radius: 20px;
    text-decoration: none;
    margin: 10px 0;
}

#take-the-first-step a:last-of-type {
    background: none;
    color: var(--white);
    padding: 0;
}